.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include desktop(1200px) {
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
    }
  }
}
